<template id="chat-message-template">
  <li class="relative flex gap-x-4 pb-6">
    <div class="absolute left-0 top-0 flex w-6 z-0 justify-center bottom-0">
      <div class="w-px bg-gray-200"></div>
    </div>
    <img src="REPLACE" alt="REPLACE" class="relative h-6 w-6 flex-none rounded-full bg-gray-50" />
    <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
      <div class="flex justify-between gap-x-4">
        <div class="py-0.5 text-xs leading-5 text-gray-500">
          <span class="font-medium text-gray-900 chat-message-username">REPLACE</span>
          said
        </div>
        <time datetime="REPLACE" class="flex-none py-0.5 text-xs leading-5 text-gray-500"></time>
      </div>
      <p class="text-sm leading-6 text-gray-500 chat-message-body">REPLACE</p>
    </div>
  </li>
</template>
