<div class="flex flex-col h-[calc(100vh-100px)]">
  <%- include('chat-message.ejs') %>
  <ul
    role="list"
    class="flex flex-col-reverse flex-1 overflow-y-scroll"
    id="chat-message-area"
  ></ul>

  <!-- New comment form -->
  <div class="mt-0 flex gap-x-3 justify-self-end">
    <img
      src="https://gravatar.com/avatar/<%= user.gravatar %>"
      alt="<%= user.email %>"
      class="h-6 w-6 flex-none rounded-full bg-gray-50"
    />
    <form method="post" id="chat-message-form" class="relative flex-auto">
      <div
        class="overflow-hidden rounded-lg pb-12 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600"
      >
        <label for="comment" class="sr-only">Add your comment</label>
        <input
          name="message"
          id="message"
          class="block w-full resize-none border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
          placeholder="Add your message..."
        />
      </div>

      <div class="absolute inset-x-0 bottom-0 flex flex-row-reverse py-2 pl-3 pr-2 w-full">
        <button
          type="submit"
          class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
