<!doctype html>
<html lang="en" class="no-nav">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>War</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/dist/index.js" defer></script>
    <%- include('favicons') %>
  </head>
  <body>
    <main>
      <div class="h-full w-full">
