<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>War</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/dist/index.js" defer></script>
    <%- include('favicons') %>
  </head>
  <body>
    <%- include('navigation') %>
    <main class="h-[calc(100vh-4rem)] overflow-auto">
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 h-full">