<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <!-- Start logo segment -->
        <div class="flex-shrink-0">
          <img
            class="h-8 w-8"
            src="/images/favicons/android-chrome-192x192.png"
            alt="Jrob"
          />
        </div>
        <!-- End logo segment -->
        <!-- Start desktop main menu segment -->
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <% menuItems.forEach(({ url, name, current }) => { %>
              <a href="<%= url %>" class="menu-item<%= current ? " menu-item-selected" : "" %>"><%= name %></a>
            <% }); %>
          </div>
        </div>
        <!-- End desktop main menu segment -->
      </div>
      <!-- Start desktop secondary menu segment -->
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="/images/favicons/android-chrome-192x192.png" alt="Jrob">
              </button>
            </div>
            <!--
                Dropdown menu, show/hide based on menu state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <a href="/auth/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Sign out</a>
            </div>
      </div>
      <!-- End desktop secondary menu segment -->
    </div>
  </div>
</nav>
<% if(locals.suppressHeader === undefined) { %>
<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= menuItems.find(item => item.current).name %></h1>
  </div>
</header>
<% } %>