<li class="col-span-1 flex rounded-md shadow-sm">
  <div
    class="flex w-16 flex-shrink-0 items-center justify-center rounded-l-md text-sm font-medium text-white border-gray-200 bg-gray-300"
  >
    <img
      class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300"
      src="https://gravatar.com/avatar/<%= game.gravatar %>"
      alt="Created by "
    />
  </div>
  <div
    class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white"
  >
    <div class="flex-1 truncate px-4 py-2 text-sm">
      <p class="font-medium text-gray-900 hover:text-gray-600">
        <%= game.description %>
      </p>
      <div class="mt-2">
        <span
          class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"
          >1 Playing (Waiting for more)</span
        >
      </div>
    </div>
    <div class="pr-5 flex flex-col">
      <form action="/games/join/<%= game.id %>" method="post">
        <button
          type="submit"
          class="rounded bg-blue-700 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 mb-1"
        >
          Join
        </button>
      </form>
    </div>
  </div>
</li>
